backend/.env.local
backend/.env.local.php
backend/.env.*.local
backend/config/secrets/prod/prod.decrypt.private.php
backend/phpunit-coverage-html-report
backend/var/
backend/vendor/

backend/.phpunit.result.cache
backend/.php-cs-fixer.cache
.idea